.grid-container {
    
    padding: xl;
  }
  
  .grid-item {
    background-color: #ffffff;
    padding: md;
    
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  }